.accordion {
    background: inherit;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    font-size: 25px;
    transition: 0.5s;
}

._items {
    font-size: 18px;
    text-align: left;
    padding: 5px;
}

.accordion._items:hover {
    text-decoration: underline;
}

.accordion._items:disabled {
    cursor: auto;
    text-decoration: none;
}

.accordion:hover {
    /* font-weight: bolder; */

}

.active, .accordion:hover {
    /* background-color: #ccc; */
    /* text-decoration: underline; */
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height;
    /*transition: max-height 0.5s ease-out;*/

}
