
/* Модальный (фон) */
.modal_birthday {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: none; /* Скрыто по умолчанию */
    /*position: fixed; !* Оставаться на месте *!*/
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 1; /* Сидеть на вершине */
    width: 350px; /* Полная ширина */
    height: 350px;
    /*overflow: auto; !* Включите прокрутку, если это необходимо *!*/
    /*background-color: rgb(0,0,0); !* Цвет запасной вариант  *!*/
    color: white;
    /*background-color: rgba(0,0,0,0.9); !*Черный с непрозрачностью *!*/
    /*background-color: black; !* Цвет запасной вариант  *!*/
    background: url("../images/modal_birthday/bg_birthday_4.gif");
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0 0 250px 125px black;
    border: 5px solid wheat;
}

.modal_birthday p {
    margin: 0 0 0.5em 0;
    padding: 0;
    line-height: 1.5em;
    font-size: 14px;
}

.modal_birthday h4 {
    margin: 0 0 0.5em 0;
    line-height: 1.5em;
}

.modal_birthday_content {
    margin: 50px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background: black;
    opacity: 0.95;
    border-radius: 10px;
    padding: 5px;
}

.modal_birthday_btn_close {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: right;
}

.modal_birthday_btn_close_image {
    width: 20px;
    margin: 10px 10px 0 0;
}

.modal_birthday_btn_close_image:hover {
    cursor: pointer;
}

.modal_birthday_content_avatar {
    width: 100px;
    border-radius: 50%;
}

img.drive2_logo {
    width: 100px;
    border-radius: 5px;
}
