* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    width: 100%;
    -moz-user-select: none;
    /*-khtml-user-select: none;*/
    user-select: none;
    background: black;
    background: url('../images/chrysler_pacifica_bg.jpg') fixed no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    /*font-family: 'Neucha', cursive, sans-serif;*/
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 25px;
}

.header_title {
    display: flex;
    justify-content: space-between;
}

.update,
.version {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: whitesmoke;
}

.container {
    box-sizing: border-box;
    min-width: 360px;
    padding: 5px 5px 0 5px;
    margin: 0 auto;
}

.logo {
    /* display: flex; */
    /* justify-content: center; */
}

.logo img {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.list_item {
    box-sizing: border-box;
    background: black;
    opacity: 0.9;
    width: 100%;
    border: 5px solid wheat;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

.item_container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border: 2px solid wheat;
    border-radius: 10px;
    margin-bottom: 5px;
}

.item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    margin: 5px;
    transition: all linear 0.25s;
}

.increase {
    transform: scale(2);
    transition: all linear 0.25s;
}

.item_image {
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.item_image:hover {
    cursor: pointer;
}

.item_image img {
    width: 100%;
}

.item_code {
    margin: 5px 0;
    text-align: center;
    font-size: 15px;
}

.item_note {
    margin: 5px 0;
    text-align: center;
    font-size: 15px;
}

button:disabled {
    opacity: 0.5;
}

h1 {
    display: none;
}

.donate {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    text-align: center;
    border: 2px solid wheat;
    border-radius: 10px;
    margin-bottom: 5px;
}

a {
    color: white;
}

.panel {
    transition: height ease-in-out 1s;
}

@media screen and (min-width: 500px) {
    body {
        background: black;
        /*background: url('../images_send/chrysler_pacifica_bg.jpg') fixed no-repeat;*/
        background: url('../images/chrysler_pacifica.jpg') fixed no-repeat;
        background-size: cover;
        background-position: center;
    }

    .container,
    .footer {
        display: none;
    }

    h1 {
        text-align: center;
        display: block;
    }

    .logo img {
        display: none;
    }
}

.about {
    font-size: 16px;
    text-align: justify;
    line-height: 1.2em;
    color: white;
    padding: 0 5px;
}

.inline img:hover {
    cursor: pointer;
    filter: none
}

.inline {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
